* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

img {
    width: 100%;
}

main {
    width: 100%;
}

.carousel {
    width: 100%;
    z-index: -1;

}

.the-container {
    display: flex;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;

}


/*remove scrollbar on every browser from carousel*/
/*-webkit- (Chrome, Safari, nyere versioner of Opera)*/
.the-container::-webkit-scrollbar {
    width: 0 !important
}

/*-moz- (Firefox)*/
/*-ms- (Internet Explorer +10)*/
.the-container {
    overflow: -moz-scrollbars-none;
    -ms-overflow-style: none;
}

.the-container section {
    min-width: 100%;
    scroll-snap-align: start;
}

.carousel-inner {
    display: flex;
}

#caro-section {
    padding: 0;
}

#arrow-container {
    display: flex;
    justify-content: space-around;
}

.bwd,
.fwd {
    margin-top: -60px;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: .3s;
}

.bwd:hover,
.fwd:hover {
    font-family: gingerpro-bold;
    transform: scale(1.1);
}

.bwd p,
.fwd p {
    z-index: 0;
    color: #FF6138;
    font-size: 2rem;
    font-weight: bold;

    line-height: 1;
    margin: 0;

    user-select: none;
}

.fwd {
    margin-right: 40px;
}

.bwd {
    margin-left: 40px;
}
