 * {
     box-sizing: border-box;
 }

 *::selection {
     background-color: #FFB302;
 }

 h1 {
     font-family: gingerpro-bold;
     margin: 0;
     font-size: 1.8rem;

 }

 h2 {
     font-family: gingerpro-bold;
 }

 h1,
 h2,
 h3,
 p {
     color: #34170F;
 }

 @font-face {
     font-family: 'gingerpro';
     src: url('fonts/f37gingerpro-regular-webfont.woff') format('woff');
     src: url('fonts/f37gingerpro-regular-webfont.woff2') format('woff2');
 }

 @font-face {
     font-family: 'gingerpro-bold';
     src: url('fonts/f37gingerpro-bold-webfont.woff') format('woff');
     src: url('fonts/f37gingerpro-bold-webfont.woff2') format('woff2');
 }

 @font-face {
     font-family: 'gingerpro-light';
     src: url('fonts/f37gingerpro-light-webfont.woff') format('woff');
     src: url('f37gingerpro-light-webfont.woff2') format('woff2');
 }


 body {
     margin: 0;
     font-family: gingerpro;
 }

 img {
     width: 100%;
 }

 section {
     padding: 0 40px;
     margin-bottom: 60px;
 }

 figure {
     margin: 0;
 }

 #splash {
     width: 100vw;
     height: 100vh;
     background-position: 26% 50%;
     background-size: cover;

     display: flex;
     justify-content: center;
     /*    align-items: center;*/
 }

 #splash h1 {
     font-family: gingerpro-bold;
     margin: 0;
     font-size: 3rem;
     color: #34170F;
 }

 .heading-bg {
     position: absolute;
     left: 15vw;
     top: 20vh;
     width: 80vw;
     padding: 10px 20px;
     /*    background-color: rgba(52, 23, 15, 0.75);*/
     /*    text-align: center;*/
 }

 #intro {
     width: 100%;
     display: flex;
     flex-direction: column;
     justify-content: center;
     /*     margin-top: 150px;*/
     margin-bottom: 30px;
 }

 #intro-text {
     margin-top: 20px;
 }

 footer {
     width: 100vw;
     height: 150px;
     background-color: #F0F0F0;
     padding: 0 20px;

     display: flex;
     flex-direction: column;
 }

 footer img {
     margin-top: 8px;
 }

 footer p {
     margin: 0;
 }

 footer h3 {
     margin: 0;
     margin-top: 10px;
     font-family: gingerpro-bold;
 }

 .footer_logo {
     width: 60px;
     height: 60px;
 }

 footer .socials a img {
     transition: .2s;
 }

 footer .socials a img:hover {
     transform: scale(1.08);
     opacity: .8;
 }

 footer .socials img {
     width: 30px;
 }

 .footer_container {
     display: flex;
     justify-content: space-between;
     align-items: center;
 }


 nav {
     width: 100vw;
     height: 100px;


     display: flex;
     justify-content: space-between;
     align-items: center;

     padding: 0 30px;
     position: fixed;
     top: 0;
     background-color: #fff;
     z-index: 100;
 }

 nav img {
     width: 60px;
 }

 #destinationer-menu {
     display: flex;
     align-items: center;
     justify-content: center;
 }

 #destinationer-menu h1 {
     margin: 0;
     line-height: 0.9;
     font-size: 1.8rem;
 }

 #dropdown {
     height: 25px;
     width: 25px;
     margin-left: 20px;
     border: 3px solid #FF6138;
     text-align: center;
     color: #FF6138;
     line-height: 1.1;
     cursor: pointer;
     background-image: url(billeder/arrow.svg);
     background-size: 10px;
     background-repeat: no-repeat;
     background-position: 40%;
 }

 #dropdown p {}

 .menu-container {
     width: 100%;
     margin-top: 20px;

     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     background-color: #fff;
     z-index: 0;

     user-select: none;
 }

 p::selection {
     background-color: #FFB302;
 }

 #menu {
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
 }

 .menu-container a {
     text-decoration: none;
     color: #34170F;
     font-family: gingerpro-bold;
     font-size: 1.1rem;
     margin-bottom: 8px;
     transition: .3s;
     align-self: flex-start;
     margin-left: -109px;
 }

 .menu-container a:hover {
     text-underline-position: below;
     color: #FF6138;
 }

 .hide {
     display: none;
 }


 #page-main {
     display: grid;
     grid-template-columns: 1fr;
     grid-column-gap: 20px;
     max-width: 1200px;
     margin: 0 auto;
 }






 @media screen and (min-width: 920px) {
     footer {
         padding-top: 10px;
         height: 100px;
     }

     footer .footer_logo {
         position: absolute;
         left: 48.5vw;
     }
 }






 @media screen and (min-width: 1200px) {
     #intro-text {
         /*         width: 50%;*/
         /*         padding-right: 2vw;*/
         padding: 0 5vw;
         font-size: 1.2rem;

     }

     #udvaelgelse {
         display: flex;
         flex-direction: column;
         margin-top: 50px;
     }

     .udvaelgelse-text {
         display: flex;
         flex-direction: column;
     }

     .wp-block-columns {
         display: flex;
         flex-direction: row;
         padding-bottom: 50px;
     }

     .section-header {
         font-size: 2rem;
         margin: 0;
     }

     .wp-block-column:first-child {
         width: 50%;
         padding-right: 2vw;
     }

     .wp-block-column:last-child {
         width: 50%;
         padding-left: 2vw;
     }

     #indstandsaettelse {
         margin-bottom: 0;
     }

     #indretning {
         margin-bottom: 0;
     }

     #indretning-text2 {
         margin-bottom: 80px;
     }
 }











 .vis-menu {
     animation-name: vis_menu_kf;
     animation-duration: .5s;
     animation-fill-mode: forwards;
     animation-iteration-count: 1;
     animation-timing-function: ease-out;
 }

 .rotate-arrow {
     animation-name: rotate_arrow_kf;
     animation-duration: .5s;
     animation-fill-mode: forwards;
     animation-direction: alternate;
     animation-iteration-count: 1;
     animation-timing-function: ease-out;
 }

 @keyframes vis_menu_kf {
     0% {
         transform: translateY(-20px);
         opacity: 0;
     }

     100% {
         transform: translateY(0);
         opacity: 1;
         z-index: 1;
     }
 }

 @keyframes rotate_arrow_kf {
     0% {
         transform: rotate(0deg);
     }

     100% {
         transform: rotate(180deg);
     }
 }
