* {
    box-sizing: border-box;
}

*::selection {
    background-color: #FFB302;
}

h1 {
    font-family: gingerpro-bold;
    margin: 0;
    font-size: 3rem;
    color: #34170F;
}

h2 {
    font-family: gingerpro-bold;
}

h2,
h3,
p {
    color: #34170F;
}

@font-face {
    font-family: 'gingerpro';
    src: url('fonts/f37gingerpro-regular-webfont.woff') format('woff');
    src: url('fonts/f37gingerpro-regular-webfont.woff2') format('woff2');
    font-display: swap;
}

@font-face {
    font-family: 'gingerpro-bold';
    src: url('fonts/f37gingerpro-bold-webfont.woff') format('woff');
    src: url('fonts/f37gingerpro-bold-webfont.woff2') format('woff2');
    font-display: swap;
}

@font-face {
    font-family: 'gingerpro-light';
    src: url('fonts/f37gingerpro-light-webfont.woff') format('woff');
    src: url('f37gingerpro-light-webfont.woff2') format('woff2');
    font-display: swap;
}



body {
    margin: 0;
    font-family: gingerpro;
    overflow-x: hidden;
}


img {
    width: 100%;
}

#intro,
#kaffe {
    /*    width: 100vw;*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 70px;
    margin-bottom: 30px;
}

#intro,
#kaffe {
    padding: 0 40px;
}

#kaffe a {
    text-decoration: none;
    font-family: gingerpro-bold;
    color: #FF6138;
    transition: color .3s;
}

#kaffe a:hover {
    color: #34170F;
}

#splash {
    width: 100vw;
    height: 100vh;
    background-position: center;
    background-size: cover;

    display: flex;
    justify-content: center;
    align-items: flex-end;
}

#splash .scroll-container {
    height: 60px;
    width: 60px;
    margin-bottom: 40px;
}

#splash .scroll-container p {
    font-family: gingerpro-bold;
    text-align: center;
    margin: 0;
    font-size: 0.7rem;
    color: #000;
    text-shadow: 4px 2px 5px rgba(255, 255, 255, .5);
}

#splash .scroll-container .scroll-img {
    background-image: url(billeder/iconmouse.svg);
    background-position: center;
    background-repeat: no-repeat;

    height: 100%;
    width: 100%;
}

.scroll-animation {
    animation-name: scroll_animation_kf;
    animation-duration: 2.40s;
    animation-timing-function: ease-out;
    animation-iteration-count: infinite;
}

/*
.heading-bg {
    width: 60vw;
    padding: 10px 0px;
    background-color: rgb(255, 97, 56);
    border-radius: 10px;
    text-align: center;
}

.heading-bg h1 {
    color: #fff;
    font-size: 2.2rem;
}
*/

#sizes {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 20px 30px;
}

#sizes a {
    text-decoration: none;
}

#husstorrelse {
    min-width: 300px;
    max-width: 300px;
    min-height: 300px;
    justify-self: center;
    /*    background-color: #FF6138;*/
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 15px 15px;
    color: #FF6138;
    background-image: url(billeder/hus.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    transition: transform .3s;
}

#husstorrelse:hover {
    transform: scale(1.04);
}

#husstorrelse p,
#husstorrelse h2 {
    color: #FF6138;
    padding: 0 40px;
    text-align: center;
}


footer {
    width: 100vw;
    height: 150px;
    background-color: #F0F0F0;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
}

footer img {
    margin-top: 8px;
}

footer p {
    margin: 0;
}

footer h3 {
    margin: 0;
    margin-top: 10px;
    font-family: gingerpro-bold;
}

.footer_logo {
    width: 60px;
    height: 60px;
}

footer .socials a img {
    transition: .2s;
}

footer .socials a img:hover {
    transform: scale(1.08);
    opacity: .8;
}

footer .socials img {
    width: 30px;
}

.footer_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


nav {
    width: 100vw;
    height: 100px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0 30px;
    position: fixed;
    z-index: 100;
}

nav img {
    width: 60px;
}

.hide {
    display: none;
}

main {
    display: grid;
    grid-template-columns: 1fr;
    grid-column-gap: 20px;
    max-width: 1200px;
    margin: 0 auto;
}






#landing-start {}

.landing-animation {
    width: 100vw;
    height: 100vh;
    z-index: 1000;


    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 40px;
    text-align: center;
    background-color: rgb(255, 97, 56);


    animation-name: landing_animation_kf;
    animation-duration: 2.7s;
    animation-iteration-count: 1;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}

.logo {
    margin-top: -200px;
    width: 20%;
    min-width: 220px;
}

#landing-start h1 {
    font-size: 2.5rem;
}

#landing-start h1 br {
    display: none;
}

.fade-in-out {
    color: #fff;

    animation-name: header_animation_kf;
    animation-duration: 3s;
    animation-iteration-count: 1;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}



@media screen and (max-width: 450px) {
    #splash {
        height: 86vh;
    }

    #splash .scroll-container {
        margin-bottom: 55px;
    }
}



@media screen and (max-width: 500px) {

    #intro,
    #kaffe {
        width: 100vw;
    }
}




@media screen and (min-width: 500px) {
    #intro h2 {
        font-size: 2.5rem;
        margin: 0;
    }

    #kaffe h2 {
        font-size: 1.8rem;
        margin: 0;
    }

    #sizes {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 100%;
        min-width: 100%;
        margin: 0;
        padding: 0 40px;
        text-align: center;
    }


    #husstorrelse {
        margin: 0;
        min-width: 300px;
        max-width: 300px;
        min-height: 300px;
        margin-bottom: 20px;
    }

}




@media screen and (min-width: 768px) {
    #intro h2 {
        font-size: 3rem;
        margin: 0;
    }

    #kaffe h2 {
        font-size: 2rem;
        margin: 0;
    }

    main {
        padding: 0;
        max-width: 720px;
    }

    #husstorrelse {
        margin: 0;
        min-width: 200px;
        max-width: 200px;
        min-height: 200px;
    }

    #husstorrelse h2 {
        font-size: 1.4rem;
        margin: 35px 0 0 0;
    }

    #husstorrelse p {
        margin: 5px 0;
    }

    #husstorrelse p:last-child {
        margin: 0;
    }

    #sizes {
        display: flex;
        flex-direction: row;
        max-width: 100%;
        min-width: 100%;
        margin: 0;
        padding: 0 40px;
        justify-content: space-between;
        text-align: center;
    }

    .heading-bg {
        width: 40vw;
        padding: 10px 20px;
        /*        background-color: rgba(255, 255, 255, 0.3);*/
    }



    #landing-start {
        padding: 0;
        margin-top: 0;
    }

    #landing-start h1 br {
        display: block;
    }

    #landing-start h1 {
        font-size: 3rem;
    }

}




@media screen and (min-width: 920px) {
    #intro h2 {
        font-size: 3rem;
        margin: 0;
        width: 63%;
    }

    #intro p,
    #kaffe p {
        width: 63%;
    }

    #intro,
    #kaffe,
    #sizes {
        padding: 0;
    }

    #husstorrelse {
        margin: 0;
        min-width: 250px;
        max-width: 250px;
        min-height: 250px;
    }

    #husstorrelse h2 {
        font-size: 2rem;
        margin: 30px 0 10px 0;
    }

    #husstorrelse p {
        margin: 10px 0;
    }

    main {
        padding: 0 40px;
        max-width: 870px;
    }

    footer {
        padding-top: 10px;
        height: 100px;
    }

    footer .footer_logo {
        position: absolute;
        left: 48.5vw;
    }
}




@media screen and (min-width: 1200px) {

    main {
        max-width: 1200px;
        padding: 0;
    }

    #intro,
    #kaffe,
    #sizes {
        padding: 0;
    }

    #husstorrelse {
        min-width: 300px;
        max-width: 300px;
        min-height: 300px;
        margin: 0;
    }

    #husstorrelse h2 {
        font-size: 2rem;
        margin: 10px 0;
    }
}






/*****ANIMATIONER*****/
.vis-burgermenu {
    animation-name: vis_burgermenu_kf;
    animation-duration: .7s;
    animation-iteration-count: 1;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}

.nav_baggrund {
    animation-name: nav_baggrund_kf;
    animation-duration: .3s;
    animation-iteration-count: 1;
    animation-timing-function: ease-out;
    animation-fill-mode: both;
}


@keyframes nav_baggrund_kf {
    0% {
        background-color: none;
    }

    100% {
        background-color: rgb(255, 255, 255);
    }
}

@keyframes vis_burgermenu_kf {
    0% {
        opacity: 0%;
    }


    100% {
        opacity: 100%;
    }
}






@keyframes header_animation_kf {
    0% {
        transform: translateY(-50px);
        opacity: 0;
    }

    25% {
        opacity: 1;
        transform: translateY(0);
    }

    80% {
        opacity: 1;
        transform: translateY(0);
    }

    100% {
        opacity: 0;
        background-color: transparent;
        transform: translateY(5px);
    }
}





@keyframes landing_animation_kf {
    0% {
        background-color: rgb(255, 97, 56);
    }


    80% {
        background-color: rgb(255, 97, 56);
    }

    100% {
        background-color: transparent;
        display: none;
        z-index: -1;
    }
}


@keyframes scroll_animation_kf {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }

    25% {
        transform: translateY(0);
    }

    35% {
        opacity: 1;
        transform: translateY(0);
    }

    80% {
        opacity: 1;
        transform: translateY(0);
    }

    100% {
        opacity: 0;
    }
}
