* {
    box-sizing: border-box;
}

h1 {
    font-family: gingerpro-bold;
    margin: 0;
    font-size: 3rem;
    color: #34170F;
}

h2 {
    font-family: gingerpro-bold;
}

h2,
h3,
p {
    color: #34170F;
}

@font-face {
    font-family: 'gingerpro';
    src: url('fonts/f37gingerpro-regular-webfont.woff') format('woff');
    src: url('fonts/f37gingerpro-regular-webfont.woff2') format('woff2');
    font-display: swap;
}

@font-face {
    font-family: 'gingerpro-bold';
    src: url('fonts/f37gingerpro-bold-webfont.woff') format('woff');
    src: url('fonts/f37gingerpro-bold-webfont.woff2') format('woff2');
    font-display: swap;
}

@font-face {
    font-family: 'gingerpro-light';
    src: url('fonts/f37gingerpro-light-webfont.woff') format('woff');
    src: url('f37gingerpro-light-webfont.woff2') format('woff2');
    font-display: swap;
}



body {
    margin: 0;
    font-family: gingerpro;
}


img {
    width: 100%;
}

#intro,
#kaffe {
    /*            width: 100vw;*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 70px;
    margin-bottom: 30px;
}

#intro,
#kaffe {
    padding: 0 40px;
}

#splash {
    width: 100vw;
    height: 100vh;
    background-position: center;
    background-size: cover;

    display: flex;
    justify-content: center;
    /*    align-items: center;*/
}

.heading-bg {
    position: absolute;
    left: 15vw;
    top: 20vh;
    width: 80vw;
    padding: 10px 20px;
    /*    background-color: rgba(52, 23, 15, 0.75);*/
    /*    text-align: center;*/
}

#sizes {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 20px 30px;
}

#husstorrelse {
    min-width: 300px;
    max-width: 300px;
    min-height: 300px;
    justify-self: center;
    /*    background-color: #FF6138;*/
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 15px 15px;
    color: #FF6138;
    background-image: url(billeder/hus.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    transition: transform .3s;
}

#husstorrelse:hover {
    transform: scale(1.04);
}

#husstorrelse p,
#husstorrelse h2 {
    color: #FF6138;
    padding: 0 40px;
}


footer {
    width: 100vw;
    height: 150px;
    background-color: #F0F0F0;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
}

footer img {
    margin-top: 8px;
}

footer p {
    margin: 0;
}

footer h3 {
    margin: 0;
    margin-top: 10px;
    font-family: gingerpro-bold;
}

.footer_logo {
    width: 60px;
    height: 60px;
}

footer .socials {}

footer .socials img {
    width: 30px;
}

.footer_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


nav {
    width: 100vw;
    height: 100px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0 30px;
    position: fixed;
    z-index: 100;
}

nav img {
    width: 60px;
}

.hide {
    display: none;
}

main {
    display: grid;
    grid-template-columns: 1fr;
    grid-column-gap: 20px;
    max-width: 1200px;
    margin: 0 auto;
}



@media screen and (min-width: 500px) {
    #intro h2 {
        font-size: 2.5rem;
        margin: 0;
    }

    #kaffe h2 {
        font-size: 1.8rem;
        margin: 0;
    }

    #sizes {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 100%;
        min-width: 100%;
        margin: 0;
        padding: 0 40px;
        text-align: center;
    }


    #husstorrelse {
        margin: 0;
        min-width: 300px;
        max-width: 300px;
        min-height: 300px;
        margin-bottom: 20px;
    }

}





@media screen and (min-width: 768px) {
    #intro h2 {
        font-size: 3rem;
        margin: 0;
    }

    #kaffe h2 {
        font-size: 2rem;
        margin: 0;
    }

    main {
        padding: 0;
        max-width: 720px;
    }

    #husstorrelse {
        margin: 0;
        min-width: 200px;
        max-width: 200px;
        min-height: 200px;
    }

    #sizes {
        display: flex;
        flex-direction: row;
        max-width: 100%;
        min-width: 100%;
        margin: 0;
        padding: 0 40px;
        justify-content: space-between;
        text-align: center;
    }

    .heading-bg {
        width: 40vw;
        padding: 10px 20px;
        /*        background-color: rgba(255, 255, 255, 0.3);*/
    }


}




@media screen and (min-width: 920px) {
    #intro h2 {
        font-size: 3rem;
        margin: 0;
        width: 63%;
    }

    #intro p,
    #kaffe p {
        width: 63%;
    }

    #intro,
    #kaffe,
    #sizes {
        padding: 0;
    }

    #husstorrelse {
        margin: 0;
        min-width: 250px;
        max-width: 250px;
        min-height: 250px;
    }

    #husstorrelse h2 {
        font-size: 2rem;
        margin: 10px 0;
    }

    main {
        padding: 0 40px;
        max-width: 870px;
    }

    footer {
        padding-top: 10px;
        height: 100px;
    }

    footer .footer_logo {
        position: absolute;
        left: 48.5vw;
    }
}







@media screen and (min-width: 1200px) {

    main {
        max-width: 1200px;
        padding: 0;
    }

    #intro,
    #kaffe,
    #sizes {
        padding: 0;
    }

    #husstorrelse {
        min-width: 300px;
        max-width: 300px;
        min-height: 300px;
        margin: 0;
    }

    #husstorrelse h2 {
        font-size: 2rem;
        margin: 10px 0;
    }
}






/*****ANIMATIONER*****/
.vis-burgermenu {
    animation-name: vis_burgermenu_kf;
    animation-duration: .7s;
    animation-iteration-count: 1;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}

.nav_baggrund {
    animation-name: nav_baggrund_kf;
    animation-duration: .3s;
    animation-iteration-count: 1;
    animation-timing-function: ease-out;
    animation-fill-mode: both;
}

@keyframes nav_baggrund_kf {
    0% {
        background-color: none;
    }

    100% {
        background-color: rgb(255, 255, 255);
    }
}

@keyframes vis_burgermenu_kf {
    0% {
        opacity: 0%;
    }


    100% {
        opacity: 100%;
    }
}
